<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="4" parallel="classes">
    <listeners>
        <listener class-name="com.loadablecomponents.listerners.TestListener"/>
    </listeners>
    <test verbose="5" preserve-order="true" name="Loadablecomponents">
        <classes>
            <class name="com.loadablecomponents.tests.AbPageScenarios"/>
            <class name="com.loadablecomponents.tests.DropDownScenarios"/>
            <class name="com.loadablecomponents.tests.LoginScenarios"/>
            <class name="com.loadablecomponents.tests.BasicAuthScenario"/>
            <class name="com.webdriversample.FooTest"/>
        </classes>
    </test>
</suite>
